{% if is_granted('ROLE_VERIFIED_USER') != false and userToFollow.id != app.user.id%}
    <a href="{{ path('app_follow', {id: userToFollow.id}) }}" class="rounded-md border p-2 border-gray-300 text-gray-600 hover:bg-gray-300 dark:text-gray-300 dark:hover:bg-gray-500 dark:border-gray-600">
        {% if app.user.follows is defined and app.user.follows.contains(userToFollow)  %}
        Unfollow
        {% else %}
        Follow
        {% endif %}
    </a>


{% endif %}