{% extends 'base.html.twig' %}
{% block title %} Create new post {% endblock %}

{% block bread %} > Create Post {% endblock %}

{% block body %}
    <h3>Create new post</h3>
    {{ include('post/_form.html.twig') }}
{% endblock %}