{% extends 'base.html.twig' %}
{% block body %}
    <h1>All Posts</h1>
    <div>
        {% if posts|length > 0%}
            {% for key,post in posts %}
                <div>{{ post.title }} - {{ post.created|date('D-m-Y') }}</div>
                <div><a href="{{ path('app_post_show', {id: post.id}) }}">Read more</a></div>
                <br/>
            {% endfor %}
        {% else %}
            No posts
        {% endif %}

    </div>
{% endblock %}
