{% extends 'base.html.twig' %}
{% block title %} Post - {{ post.title }} {% endblock %}

{% block bread %} > Post {% endblock %}

{% block body %}
    {{ include('post/_post.html.twig', {post: post, summary: false}) }}

    {% if comments|length > 0%}
        {% for key,comment in comments %}
            {{ include('post/_comment.html.twig', {comment: comment}) }}
        {% endfor %}
    {% else %}
        <div class="text-gray-500">No comments</div>
    {% endif %}

{% endblock %}